@import '../../styles/variables.css';
.root{
    display: inline-block;
}
.black{
    color: black;
}
.code{
    margin-top: .4em;
    margin-bottom: .4em;
}
.label{
    font-size: .85em;
}
input{
    border-bottom: 1px solid rgba(0,0,0,1);
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}
.input:focus{
    border-left-color: var(--color-highlight);
    
}
label{
    font-size: 0.8em !important;
}
.margin_bottom_small{
    margin-bottom: .05em;
}
.margin_top_small{
    margin-top: .05em;
}